@media(max-width:992px){

.grid-4{

grid-template-columns:repeat(2,1fr);

}

.grid-3{

grid-template-columns:repeat(2,1fr);

}

.navbar{

flex-direction:column;

gap:20px;

}

}

@media(max-width:768px){

.grid-2,
.grid-3,
.grid-4{

grid-template-columns:1fr;

}

.title{

font-size:32px;

}

.logo h2{

font-size:18px;

}

.navbar ul{

gap:18px;

flex-wrap:wrap;

justify-content:center;

}

section{

padding:60px 0;

}

}

@media(max-width:500px){

.logo img{

width:50px;

}

.btn{

width:100%;

}

}